// src/styles/Contact.scss

.contact-container {
    padding: 40px;
    font-family: 'Arial', sans-serif;
    color: #333;
  
    h1 {
      font-size: 36px;
      font-weight: bold;
      color: #333;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 16px;
      margin-bottom: 20px;
      color: #666;
    }
  
    .contact-details {
      background-color: #fcf5f3;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: 30px;
  
      h2 {
        font-size: 24px;
        color: black;
        margin-bottom: 10px;
      }
  
      p {
        color: rgb(55, 54, 54);
      }
    }
  
    .contact-form {
      // max-width: 600px;
      margin-top:10px;
      background-color: #fcf5f3;
      padding:  20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
      .form-group {
        margin-bottom: 15px;
        padding: 0 15px;
  
        label {
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
        }
  
        input, textarea {
          width: 100%;
          padding: 10px;
          border: 1px solid #ddd;
          border-radius: 5px;
          font-size: 16px;
        }
  
        textarea {
          resize: none;
          height: 100px;
        }
      }
      .send{
        padding: 0 15px;
        button {
          background-color: #0056b3;
          color: #fff;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 16px;
          transition: background-color 0.3s;
    
          &:hover {
            background-color: #003d80;
          }
        }
      }
      
    }
  }
  